<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        *ngIf="editMode"
      >
        Add training</button>
      <button
        type="button"
        mat-button
        (click)="toggleEditMode()"
      >
        Edit</button>
      <table
        class="table caption-top"
        *ngFor="let trainingPlan of trainingPlans;let j =index"
      >
        <caption>
          {{trainingPlan.trainingName}}
          <div
            class="btn-group ms-10"
            *ngIf="editMode"
          >
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDelete(j)"
            >
              Delete</button><button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="onUpdateTraining(j)"
            > Edit</button>
          </div>

        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">series</th>
            <th scope="col">reps</th>
            <th scope="col">weight</th>
            <th scope="col">desc</th>
          </tr>
        </thead>
        <tbody>
          <tr
            scope="row"
            *ngFor="let exercise of trainingPlan.exercises; let i = index"
          >
            <th scope="row">{{i+1}}</th>
            <td class="text-wrap">{{exercise.name}}</td>
            <td>{{exercise.series}}</td>
            <td>{{exercise.reps}}</td>
            <td>{{exercise.weight}} kg</td>
            <td class="text-wrap">{{exercise.description}}</td>
            <td *ngIf="editMode"></td>

          </tr>
        </tbody>
      </table>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
              >Adding Training</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="onCancel()"
              ></button>
            </div>
            <div class="modal-body">
              <form
                [formGroup]="newPlanForm"
                (ngSubmit)="onAddTraining()"
              >
                <div class="form-group">
                  <input
                    type="text"
                    id="trainingName"
                    class="form-control"
                    formControlName="name"
                    placeholder="Training Name"
                    formControlName="trainingName"
                  >
                  <div class="row">
                    <div
                      class="col-xs-2"
                      formArrayName="exercises"
                    >
                      <div
                        class="row"
                        *ngFor="let exerCtrl of controls; let j = index"
                        [formGroupName]="j"
                      >
                        <div class="col">
                          <input
                            class="form-control"
                            placeholder="Name"
                            formControlName="name"
                          >
                        </div>
                        <div class="col">
                          <input
                            class="form-control"
                            placeholder="Series"
                            formControlName="series"
                          >
                        </div>
                        <div class="col">
                          <input
                            class="form-control"
                            placeholder="Reps"
                            formControlName="reps"
                          >
                        </div>
                        <div class="input-group col">
                          <input
                            class="form-control"
                            placeholder="Weight"
                            aria-describedby="unit"
                            formControlName="weight"
                          >
                          <span
                            class="input-group-text"
                            id="unit"
                          >kg</span>
                        </div>
                        <div class="col">
                          <input
                            id="name"
                            class="form-control"
                            placeholder="Description"
                            formControlName="description"
                          >
                        </div>
                        <button
                          type="button"
                          class="btn btn-danger col-sm-1"
                          (click)="onDeleteExercise(j)"
                        >X</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-8 m-auto">
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="onAddExercise()"
                      >+</button>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    (click)="onCancel()"
                  >Close</button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
<mat-card>
  <button
    mat-raised-button
    type="button"
    (click)="toggleEditMode()"
  >Start Editing</button>
  <button
    mat-raised-button
    color="accent"
    type="button"
    *ngIf="editMode"
    (click)="toggleEditMode()"
  >Add Training</button>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab
      label="{{trainingPlan.trainingName}}"
      *ngFor="let trainingPlan of trainingPlans;let i = index"
    >
      <app-training-plan [trainingIndex]="i"></app-training-plan>
    </mat-tab>
  </mat-tab-group>
</mat-card>
