<mat-card>
  <mat-card-title>{{registerMode? 'Register' : 'Login'}} Form</mat-card-title>
  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
  >

    <!-- <label for="email">Email</label>
      <input
        type="text"
        id="usermane"
        class="form-control"
        formControlName="email"
      > -->
    <mat-form-field
      appearance="fill"
      [floatLabel]="getFloatLabelValue()"
      class="full-width"
    >
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="example@example.com"
        formControlName="email"
      >
      <mat-error *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched">Invalid email</mat-error>

    </mat-form-field>

    <mat-form-field
      appearance="fill"
      [floatLabel]="getFloatLabelValue()"
      class="full-width"
    >
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      >
      <mat-error *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched">Invalid password
      </mat-error>

    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
      >{{registerMode? 'Register' : 'Login'}}</button>

      <button
        type="button"
        mat-button
        color="primary"
        (click)="switchMode()"
      >Switch to {{registerMode? 'Login':'Register'}}</button>
    </mat-card-actions>
  </form>
</mat-card>
