<div class="container">
  <div class="row">
    <div class="col-md-12 border border-1 rounded">
      <form
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="usermane"
            class="form-control"
          >
        </div> -->

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="usermane"
            class="form-control"
            formControlName="email"
          >
          <span
            class="help-block"
            *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched"
          >
            Invalid email
          </span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          >
          <span
            class="help-block"
            *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched"
          >
            Invalid password
          </span>
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary mb-2 mt-2"
            [disabled]="!userForm.valid"
          >
            Login</button>
        </div>

      </form>
    </div>
  </div>
</div>
