<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div
        class="card"
        style="width: 20rem;"
      >
        <img
          [src]="userData.image"
          alt="..."
          class="card-img-top img-flex"
        >
        <div class="card-body">
          <h5 class="card-title">
            Hello, {{userData.username}}
          </h5>
          <p class="card-text">{{userData.name}}</p>
          <p class="card-text">{{userData.email}}</p>
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-primary "
              style="width:100%"
            >
              <a>Edit</a>
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
