<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div
        class="card"
        style="width: 20rem;"
      >
        <img
          [src]="user.image"
          alt="..."
          class="card-img-top img-flex"
        >
        <div class="card-body">
          <h5 class="card-title">
            Hello, {{user.username}}
          </h5>
          <p class="card-text">{{user.name}}</p>
          <p class="card-text">{{user.email}}</p>
          <div
            class="d-grid gap-2"
            *ngIf="!editMode"
          >
            <div>
              <button
                class="btn btn-primary "
                style="width:100%"
                (click)="onEdit()"
              >
                Edit
              </button>
            </div>
            <div>
              <button
                class="btn btn-danger "
                style="width:100%"
                (click)="onDelete()"
              >
                Delete
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>
    <div class="col-sm-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
