<div class="container">

  <mat-card class="card-max-width">
    <img
      mat-card-image
      [src]="user.image"
      alt="usr picture"
    >
    <mat-card-title-group>


      <mat-card-title>Hello, {{user.name}}</mat-card-title>

    </mat-card-title-group>
    <mat-card-content>
      email: {{user.email}}<br>
      username: {{user.username}}

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        type="button"
      >Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
