<h1 mat-dialog-title>Test</h1>
<form
  [formGroup]="newPlanForm"
  (ngSubmit)="onAddTraining()"
>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="Training Name"
      formControlName="trainingName"
    >
  </mat-form-field>

  <div formArrayName="exercises">
    <div
      *ngFor="let exerCtrl of controls; let j = index"
      [formGroupName]="j"
    >
      <mat-form-field style="width: 30%;">
        <input
          matInput
          placeholder="Name"
          formControlName="name"
        >
      </mat-form-field>


      <mat-form-field class="numerical-input-width">

        <input
          matInput
          placeholder="Series"
          formControlName="series"
        >
      </mat-form-field>

      <mat-form-field class="numerical-input-width">

        <input
          matInput
          placeholder="Reps"
          formControlName="reps"
        >
      </mat-form-field>

      <mat-form-field class="numerical-input-width">

        <input
          matInput
          placeholder="Weight"
          formControlName="weight"
        >
        <span matSuffix>kg</span>
      </mat-form-field>

      <mat-form-field style="width: 30%;">

        <input
          matInput
          placeholder="Description"
          formControlName="description"
        >
      </mat-form-field>

      <button
        type="button"
        mat-button
        color="warn"
        (click)="onDeleteExercise(j)"
      >
        x
      </button>
    </div>
  </div>
  <div>
    <button
      type="button"
      mat-button
      color="accent"
      (click)="onAddExercise()"
    >+</button>
  </div>

  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      type="submit"
      mat-button
      color="accent"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Save
    </button>
  </mat-dialog-actions>

</form>
